version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: allme-prod
    ports:
      - '80:80'
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    restart: always
